<div class="title-container">
  <h1><%= @article.title %></h1>
  <div>
    <%= link_to "Edit", edit_article_path(@article) %>
    <%= link_to "Delete", article_path(@article), 
      data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
      } 
    %>
  </div>
</div>

<div class="body"><%= @article.body %></div>

<br>

<%= link_to "Show all comments", article_comments_path(@article) %>

<br>

<h2>Add a comment:</h2>
<%= render "comments/form" %>

<br>
<%= link_to "<< Return to Home", articles_path %>